page-tabs {

  .tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
    color: rgba(36, 118, 158, 1.0) !important;
  }

  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
    color: rgba(36, 118, 158, 1.0) !important;
  }

  .tabs-md .tab-button:hover:not(.disable-hover), .tabs-md .tab-button[aria-selected=true]{
    color: rgba(36, 118, 158, 1.0) !important;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: rgba(36, 118, 158, 1.0) !important;
  }
}
