<ion-content class="content">
  <div class="list-content">
    <div class="buscar-content">
      <!-- <ion-item> -->
        <ion-searchbar class="search" placeholder="Buscar..." (ionInput)="onInput($event)" [(ngModel)]="searchText"></ion-searchbar>
        <!-- <ion-icon name="magnifier"></ion-icon> -->
      <!-- </ion-item> -->
    </div>
    <ion-list>
      <div class="h20"></div>
      <div *ngFor="let evento of eventosFiltered; let i = index">
        <ion-row class="event-row" >
          <ion-col class="img-col" col-4>
            <img class="img" [src]="evento.foto"/>
          </ion-col>
          <ion-col class="info-col" col-8>
            <span class="event-title">{{ evento.nome }}</span>
            <br />
            <span class="info"> {{ evento.estabelecimento }} </span>
            <br />
            <br />
            <span class="info"> Confirmados: {{ evento.confirmados }} </span>
            <br />
            <span class="info-time"> Início {{ evento.inicio }} - Término {{ evento.termino }} </span>
          </ion-col>
        </ion-row>
        <div class="break" *ngIf="i === 2">
          <ion-row>
            <ion-col class="line-col" col-4>
              <div class="line"></div>
            </ion-col>
            <ion-col col-4>
              <span class="day-division"> Amanhã </span>
            </ion-col>
            <ion-col class="line-col" col-4>
              <div class="line"></div>
            </ion-col>
          </ion-row>
        </div>
        <div class="break" *ngIf="i === 4">
          <ion-row>
            <ion-col class="line-col" col-4>
              <div class="line"></div>
            </ion-col>
            <ion-col col-4>
              <span class="day-division"> Sexta </span>
            </ion-col>
            <ion-col class="line-col" col-4>
              <div class="line"></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
