page-home {
  .content{
    background-color: #666;
  }
  .buscar-content{
    width: 100%;
    position: absolute;
    top: 0;
    height: wrap;
    // padding: 4px;
    background-color: #f9f9f9;
    z-index: 999;
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.12), 0 6px 3px 0 rgba(0, 0, 0, 0.14);
  }

  .h20{
      height: 20px;
  }

  .list-content{
    height: calc(100% - 30px);
    overflow: scroll;
    margin-top: 30px;
  }

  .info-col{
    padding-left: 10px;
  }

  .search{
    width: 100%;
    border: 0;
    height: 100%;
    padding: 2px 0px;
  }

  .img{
    width: 200px;
    height: 100%;
  }

  .searchbar-ios{
    background-color: #333333b5;
  }

  .event-title{
    font-size: 22px;
    font-weight: 500;
  }

  .info{
    font-size: 18px;
    color: #656565;
  }

  .info-time{
    font-size: 14px;
    color: #858585;
    position: absolute;
    bottom: 5px;
  }

  .event-row {
    background-color: #fafafa;
    margin-top: 15px;
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.19), 0 5px 6px 0 rgba(0, 0, 0, 0.21);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    min-height: 130px;
  }

  .img-col{
    padding: 0px;
  }

  .day-division {
    font-size: 22px;
    text-align: center;
  }

  .break{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
  }

  .line{
    height: 2px;
    width: 100%;
    background-color: #434343;
  }

  .line-col{
    text-align: center;
    margin-top: 15px;
    padding: 5px;
  }

}
