nav-header {

}
page-mapa .style-div {
	border-radius: 15px;
	width: calc(100% + 40px);
	height: calc(100% + 2px);
	background-color: #999;
	color: white;
	margin: -14px -20px;
	font-weight: bold;
	min-width: 200px;
	min-height: 30px;
}

page-mapa .leaflet-popup-tip {
	border-radius: 15px;
	background-color: #999 !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	border-radius: 15px;
}

.spot-title{
	margin-top: 20px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: bold;
}

.spot-body{
	text-align: center;
}

.score{
	font-size: 16px;
	margin-top: 5px;
	margin-left: 15px;
}

.show-detail-button{
	text-align: right;
	padding: 6px;
	margin-bottom: 5px;
	background-color: #1770ba;
}

.button-ios.activated {
	background-color: #122c42;
}

.button-md.activated {
	background-color: #122c42;
}

.balloon{
	padding: 4px;
	padding-top: 8px;

}

.equipamento-item{
	margin-top: 5px;
	margin-left: 15px;
}

.equipamento-name{
	font-size: 14px;
	font-weight: 400;
}

.equipamento-tipo {
	font-size: 15px;
	font-weight: 600;
}
